#person{
    width: 100%;
    height: 100vh;   
    display: flex;
    align-items: center;    
}

.person-content{
    height:100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column; 
    background-color: var(--color-black);   
}

.person-content div h1{
    position: relative;
    width:  fit-content;
    color: transparent;
    padding: 0px 4px;
    font-size: 4.5rem;
    line-height:  6rem;
    animation: written_text .5s ease forwards;
}

.person-content div h1:nth-child(1){    
    animation-delay: 1s;    
}
.person-content div h1:nth-child(2){
    animation-delay: 2s;    
}
.person-content div h1:nth-child(3){
    animation:  written_text_name .5s ease forwards;
    animation-delay: 3s;    
}

.person-content div h1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;    
    background-color: var(--color-pink);
    animation: written_text_box 1s ease forwards;
    animation-delay: .5s;
}

.person-content div h1:nth-child(1) span{    
    animation-delay: .5s;
}

.person-content div h1:nth-child(2) span{    
    animation-delay: 1.5s;
}

.person-content div h1:nth-child(3) span{    
    animation-delay: 2.5s;
}
.person-nome{
    margin-top:  11rem;
}
.stacks-content{    
 display: flex; 
 justify-content: center;
 flex-direction: column;
 margin-top: 6rem;
}

.stacks-content h3{
    color: var(--color-white);
    font-size: 2rem;
    margin-left: 20px;
}

.stacks-content h4{
    color: var(--color-white);
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-left: 20px;
    font-size: 1rem;
}
.stacks ul{
    display: flex;
    flex-direction: row;
    align-items: center;       
}

.stacks ul li{
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    position: relative;
}

.stacks ul li img{
    width: 30px;
    height: auto;   
    transition: transform .3s ease; 
}
.stacks ul li div img:hover{
transform: scale(1.2);
cursor: pointer;
}

.stacks ul li div:hover::after{
    content: attr(data);
    position: absolute;
    top: 5rem;
    left: 1.3rem;
    color: var(--color-white);    
}

@keyframes written_text {
    100%{
        color: var(--color-white);
    }
}

@keyframes written_text_name {
    100%{
        color: var(--color-blue);
    }
}

@keyframes written_text_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}